body {
  background-color: darkred;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
img {
  width: 100%;
}
.center {
  text-align: center;
}
.nav li:hover {
  text-decoration: underline;
}
.navbar {
  background-color: white;
  position: sticky;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand img {
  width:auto !important;
  height: 100%;
}
.navbar a {
  color: crimson;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif !important;
}
.navbar-toggle .icon-bar {
background-color: darkred;
margin-top: 2px;
}
.navbar-collapse {
background-color: white !important;
}
.active {
  text-decoration: underline;
}
.nav-text-button {
  border-color: crimson;
  background-color: white;
  color: crimson;
  margin: 12px;
}
option{
  color:crimson;
}
.fontap{
  font-size: 20px;
  color:maroon;
}
.rjumbotron{
  background-color: maroon;
}
.ref{
width: 100%;
height: auto;
border-radius: 50%;
border-width: 10px;
}
.g{
  text-align:center;
}
select {
  font-size: 18px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  color: #4a4a4a;
  border: 1px solid #466580;
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgb(255, 255, 255);
  background: #e6e6e6
    linear-gradient(rgb(242, 242, 242) 0%, rgb(212, 212, 212) 100%);
  width: 280px;
  height: 36px;
  padding-left: 0.5em;
}
  .history,.burg{
    text-indent: 50px;
    font-size: 20px;
    color:maroon;
  }

  .jumbotron{
    color:maroon;
  }
  .big-text!{
    font-size:36px;
    color:white;
  }
  .in{
    background-color:grey;
    border-radius: 4px;
  }
  .ca{
    background-color:#4B9CD3;
    border-radius: 4px;
  }
  .ny{
    background-color:#ffdb58;
    border-radius: 4px;
  }
  .ar{
    background-color:darkgreen;
    border-radius: 4px;
  }

  .navbar-brand{
    color: white;
  }

  .large{
   font-size:54px;
  }

  #CEO{
    font-size: 54px;
  }

  #AngusTwo{
    font-size: 40px;
  }
ol {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
  footer {
    background-color: white;
    color: maroon;
    padding-top: 4px;
    padding-bottom: 4px;
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
  #sign-up-button {
    width: 30%;
    border-radius: 30px;
    padding: 10px;
    animation: rainbow 5s linear infinite;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 30px;
    margin-bottom: 50px;
    color: white;
  }
  @keyframes rainbow {
    0%   {background-color: red;}
    12.5%  {background-color: orange;}
    25%  {background-color: yellow;}
    37.5%  {background-color: green;}
    50%  {background-color: lightblue;}
    62.5%  {background-color: blue;}
    75%  {background-color: indigo;}
    87.5%  {background-color: violet;}
    100% {background-color: red;}
  }
  html {
    scroll-behavior: smooth !important;
  }
  .rounded{
    width:145px;
    border-radius:50%;
    border-width:10px;
    height: 130px
  }
  .k{
    display:none;
  }
  .s,.ec,.rm,.wc,.mw{
    border-radius: 4px;
  }
  .redtext{
    color: maroon !important;
  }
